A89_MQTT/Node-RED/nr-multi.txt
[
    {
        "id": "f7c5b8cd.ff7ab8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f4861e93.ea281",
        "type": "mqtt in",
        "z": "f7c5b8cd.ff7ab8",
        "name": "",
        "topic": "esp8266/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "6f6ed074.6ae5f",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "67990c54.8c9064"
            ]
        ]
    },
    {
        "id": "8d016410.3cfd38",
        "type": "mqtt out",
        "z": "f7c5b8cd.ff7ab8",
        "name": "",
        "topic": "esp8266/output",
        "qos": "",
        "retain": "",
        "broker": "8db3fac0.99dd48",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "d39b9d92.ae702",
        "type": "ui_switch",
        "z": "f7c5b8cd.ff7ab8",
        "name": "",
        "label": "Output",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "8d016410.3cfd38"
            ]
        ]
    },
    {
        "id": "a296121b.8f3a",
        "type": "mqtt in",
        "z": "f7c5b8cd.ff7ab8",
        "name": "",
        "topic": "esp8266/ldr",
        "qos": "2",
        "datatype": "auto",
        "broker": "6f6ed074.6ae5f",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "9e9d321f.cfccb"
            ]
        ]
    },
    {
        "id": "4d852265.9f9bbc",
        "type": "mqtt in",
        "z": "f7c5b8cd.ff7ab8",
        "name": "",
        "topic": "esp8266/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "8db3fac0.99dd48",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "1c0b0e9a.5a6f31"
            ]
        ]
    },
    {
        "id": "1c0b0e9a.5a6f31",
        "type": "ui_text",
        "z": "f7c5b8cd.ff7ab8",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PIR Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "9e9d321f.cfccb",
        "type": "ui_gauge",
        "z": "f7c5b8cd.ff7ab8",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "LDR",
        "label": "Luminosity",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "67990c54.8c9064",
        "type": "ui_chart",
        "z": "f7c5b8cd.ff7ab8",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 490,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6f6ed074.6ae5f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.110",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8db3fac0.99dd48",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.110",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Frankyhub Multi-Dashboard",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Frankyhub MQTT Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
